*.class
.vscode
*.DS_store

test/in.txt
test/out.txt
test/test.md

C++/workspace/software/FTP-Client/build/*
C++/workspace/software/FTP-Server/build/*

Java/workspace/game/mine-sweep/target/*
Java/workspace/software/course-manage/target/*
Java/example/springboot-example/metelog/mvnw
Java/example/springboot-example/metelog/mvnw.cmd
Java/example/springboot-example/metelog/src/main/resources/static/js/gson/*

test/testC/test/build/main.exe
test/testC/test2/build/main.exe

test/testC++/test/output/main.exe
test/testC++/test/build/main.exe
test/testC++/test2/output/main.exe
test/testC++/test2/build/main.exe
test/testC++/test2/src/main.d
test/testC++/test2/src/main.exe
test/testC++/test2/src/main.o
test/testC++/test2/src/data.dat
test/testC++/test2/src/plot.gp
test/testC++/test3/build/*
test/testC++/test3/in.txt
test/testC++/test3/out.txt
test/testC++/demo-qt/.vscode/*
test/testC++/demo-qt/build/*
test/testC++/demo-qt/out/*

test/testJava/test/target/*
test/testJava/demo-swt/target/*
test/testJava/demo-web/target/*

test/testC#/testC#/bin/Debug/*
test/testC#/testC#/obj/*
test/testC#/testC#2/bin/Debug/*
test/testC#/testC#2/obj/*

test/testRust/test_rust/target/.rustc_info.json
test/testRust/test_rust/target/CACHEDIR.TAG
test/testRust/test_rust/target/debug/*
test/testRust/test_rust/target/release/*
test/testRust/test_rust/Cargo.lock
test/testRust/test_rust/src/main.exe
test/testRust/test_rust/src/main.pdb
test/testRust/test_rust2/target/.rustc_info.json
test/testRust/test_rust2/target/CACHEDIR.TAG
test/testRust/test_rust2/target/debug/*
test/testRust/test_rust2/target/release/*
test/testRust/test_rust2/Cargo.lock
test/testRust/test_rust2/src/main.exe
test/testRust/test_rust2/src/main.pdb

test/testPython/test/sources/*
test/testPython/test/resources/*

test/testVerilog/test/src/wave
test/testVerilog/test/src/wave.vcd