<div>
    <style>
        .attachment .smallbut{
            text-align: center;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
            background-color: #e2e2e2;
            border-radius: 2px;
            padding-left: 4px;
            margin-bottom: 6px;
            color: #323232;
            text-shadow: 1px 1px 0 rgb(255 255 255 / 90%);
            font-size: 13px;
            line-height: 20px;
        }
        div.selectbut{
            line-height: 26px;
            min-height: 26px;
            margin-bottom: 4px;
        }

        .layui-layer-setwin{
            display: none;
        }

        #title{
            line-height: 36px;
            
            color: #666;
            padding-left: 8px;;
            font-size: 13px;
            border-radius: 2px 2px 0px 0px;
            border-bottom: 1px solid #c7c7c7;
            margin: 0px 6px;
        }
        span{
            font-size: 12px;
        }

        span.cbutton {
            display: inline-block;
            padding: 7px 16px;
            vertical-align: middle;
            background-color: #fff;
            background-image: linear-gradient(#eee, #ddd);
            border: 1px solid #ccc;
            border-radius: 2px;
            box-shadow: 0 1px 2px rgb(0 0 0 / 10%), inset 0 1px 1px rgb(255 255 255 / 60%);
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
            color: rgba(0,0,0,0.84);
            text-shadow: 0 2px 0 rgb(255 255 255 / 60%);
            cursor: pointer;
            text-decoration: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-appearance: none;
        }

        span.cbutton span{
            cursor: pointer;
        }
    </style>
    <div style="overflow: hidden;">
        <div id="title" ><i class="fa "></i> <span></span></div>
        <div style="padding:16px;" id="popcontent">
            <!--pop winds-->
            <div th:if="${attach}"  class="popcontent" title="上传本记录的附件" font="fa fa-check-circle-o">
                <div  th:include="popup/attachment" id="head" ></div>
            </div>

            <div th:if="${attachList}"  class="popcontent" title="本记录的附件列表" font="fa fa-check-circle-o">
                <div  th:include="popup/attachList" id="head" ></div>
            </div>
            
        </div>
        <div  id="footer" style="text-align:right;; margin-left: -16px;  padding:16px; background: #eee;">
            <span th:if="${attach}" id="confirm" class="popbut cbutton" >
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> 
                <span>确定</span>
            </span>
            <span th:if="${attach}" id="cancel" class="popbut cbutton" >
                <i class="fa fa-close" aria-hidden="true"></i> 
                <span>关闭</span>
            </span>
            <span th:if="${attachList}" id="cancel" class="popbut cbutton" >
                <i class="fa fa-close" aria-hidden="true"></i> 
                <span>关闭</span>
            </span>
        </div>
    </div>

</div>